---
layout: page
title: Welcome
---

{% include header.html %}

<div class="rs-content-home">

	<div class="jumbotron">
		<div class="container">
			<h1><span class="rs-slim">Roger Suen's</span> Pages</h1>
			<p>nothing much here yet.</p>
			<p><a href="/blog/" class="btn btn-lg">read my blog</a></p>
		</div>
	</div>

	<div class="container">
		<div class="row rs-home-updates">
			<div class="col-xs-12 col-sm-6"></div>
			<div class="col-xs-12 col-sm-6">
{% include home-updates-blog.html %}
			</div>
		</div>
	</div>

</div>
